/**
* copyright
* SPDX-FileCopyrightText: © 2022 DeEsperanza
* SPDX-License-Identifier: BSD-3-Clause
*/

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
    
#subject {
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
}

ul {list-style-type:none;}

#item { 
    display: inline;
    font-size: 16px;
    /* li요소의 좌측에 1px 테두리 만들기 */
    border-left: 1px solid #c0c0c0;
    /* 테두리와 글자의 간격 벌리기, padding: 위 오 아래 왼 */
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
}
#item:first-child {
    border-left: none;
}

#mContainer {
    margin: 10px auto;
    padding: 0px 10px 0px 10px;
}

#mHeader {
    height: 50px;
    text-align: center;
    padding: 1px 1px 5px 1px;
    margin-bottom: 0px;
}

#mContent {
    min-height: 700px;
    padding: 5px 10px 5px 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 130%;
}

#home {
    text-align: center;
    min-height: 700px;
    padding: 5px 10px 5px 10px;
}

#mFooter {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    border-top: 2px solid #c0c0c0;
}

@media ( min-width: 600px ) {
    #item {
        font-size: 20px;
        /* 테두리와 글자의 간격 벌리기, padding: 위 오 아래 왼 */
        padding: 0px 15px 0px 15px;
    }

    #mContainer {
        margin: 10px auto;
        padding: 20px 20px 0px 20px;
    }

    #mHeader {
        height: 70px;
        padding: 5px;
        margin-bottom: 10px;
    }

    #mContent {
        max-width: 900px;
        margin: 0 auto;
        min-height: 900px;
        padding: 20px;
    }

    #mFooter {
        border-top: 2px solid #c0c0c0;
        font-size: 15px;
    }
}